.MainNav{
    background-color: #ff6b00;   
}
.Nav{
    width: 90%;
    display: flex;
    margin: auto;
    padding-right: 20px;
    background-color: #ff6b00;
    justify-content: space-between;
}

.logo{
    width: 300px;
    height: 50px; 
}

.NavLink{
    display: flex;
    list-style: none;
    /* font-size: 10px; */
    height: 100%;
   
}

.Link{
    font-weight: bolder; 
    padding-top: 15px;
    /* padding-left: 30px; */
    padding-right: 30px;
    transform: skew(-25deg);
    /* margin-top: 20px;     */

}

.Link:hover{
    border-top: 5px solid black;
    background: rgba(226, 103, 15, 0.7);
}

a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width:1024px){
    
.Link{
  
    padding-right: 10px;
    

}
}


@media screen and (max-width:920px) {
    .Link{
  
        padding-right: 0;
        
    
    }
}