.MainNav{
    background-color: #ff6b00;
   
    width: 100%; 
    margin-bottom: 30px;
}
.Nav{
    width: 90%;
    display: flex;
    margin: auto;
    padding-right: 20px;
    background-color: #ff6b00;
    justify-content: space-between;
}

.logo{
    width: 300px;
    height: 50px; 
}

.navigation-menu ul{
    display: flex;
    list-style: none;
    /* font-size: 10px; */
    height: 100%;
   
}

.navigation-menu li{
    font-weight: bold; 
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    transform: skew(-25deg);
    /* margin-top: 20px;     */

}

.navigation-menu li:hover{
    border-top: 5px solid black;
    background: rgba(226, 103, 15, 0.7);
}

.navigation-menu li a{
    text-decoration: none;
    color: black;
}


.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color:  transparent;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 4%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }

.Nav-Community{
    display: none;
}
  
@media screen and (max-width:1024px){
    
.Link{
  
    padding-right: 10px;
    

}
}


@media screen and (max-width:920px) {
    .Link{
  
        padding-right: 0;
        
    
    }
}

@media screen and (max-width: 600px) {
    .hamburger {
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .navigation-menu ul {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .navigation-menu.expanded ul {
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .navigation-menu ul {
      position: absolute;
      top: 50px;
      left: 0;
      flex-direction: column;
      width: 50%;
      height: 100%;
      background-color: #ff6b00;
      transition: transform 0.7s ease-in-out;
    }

  }